<a href="https://colab.research.google.com/github/Jinhyeong9809/AIVLE-SCHOOL/blob/main/1_%EB%B3%80%EC%88%98%EC%99%80_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# 🐍 파이썬 기초: 변수와 자료형

## 1. 개요
본 실습에서는 파이썬의 변수와 다양한 자료형을 학습합니다.  
변수는 데이터를 저장하는 메모리 공간이며, 자료형은 변수에 저장되는 데이터의 유형을 의미합니다.

---

## 2. 실습 목표
- 변수의 개념을 이해하고 활용할 수 있다.
- `print()` 함수를 사용하여 출력을 수행할 수 있다.
- `input()` 함수를 사용하여 사용자의 입력을 받을 수 있다.
- 파이썬에서 제공하는 기본 자료형 (정수, 실수, 문자열, 불리언, 리스트, 튜플, 딕셔너리, 집합)을 사용할 수 있다.
- 자료형별 연산 방법을 이해하고 사용할 수 있다.


## 3. 변수의 개념과 사용법  
변수는 데이터를 저장하는 공간으로, 특정 값을 저장하여 코드에서 재사용할 수 있습니다.  
변수를 선언할 때는 `=`(대입 연산자)를 사용합니다.

### 3.1 변수 선언 및 출력 (`print()` 함수 사용)

In [ ]:

# 변수 선언 및 사용 예제
a = 10       # 정수형 변수
b = 3.14     # 실수형 변수
c = "Hello"  # 문자열 변수
d = True     # 불리언 변수

# 변수 출력
print("정수형 변수:", a)
print("실수형 변수:", b)
print("문자열 변수:", c)
print("불리언 변수:", d)

정수형 변수: 10
실수형 변수: 3.14
문자열 변수: Hello
불리언 변수: True


### 3.2 입력받기 (`input()` 함수 사용)

사용자로부터 입력을 받을 때 `input()` 함수를 사용합니다.  
입력받은 데이터는 기본적으로 **문자열(`str`)** 타입이므로, 숫자로 변환하려면 `int()` 또는 `float()`을 사용해야 합니다.

In [ ]:

# 사용자 입력 받기 예제
name = input("이름을 입력하세요: ")
age = int(input("나이를 입력하세요: "))  # 정수로 변환

print("당신의 이름은", name, "이며, 나이는", age, "살입니다.")

이름을 입력하세요: mj
나이를 입력하세요: 20
당신의 이름은 mj 이며, 나이는 20 살입니다.


## 4. 자료형 종류 및 예제  

파이썬의 주요 자료형은 다음과 같습니다.

- **정수형 (`int`)**: 정수를 저장하는 자료형
- **실수형 (`float`)**: 소수점을 포함한 숫자를 저장하는 자료형
- **문자열 (`str`)**: 텍스트 데이터를 저장하는 자료형
- **불리언 (`bool`)**: `True` 또는 `False` 값을 가지는 논리 자료형
- **리스트 (`list`)**: 여러 개의 값을 순서대로 저장하는 자료형 (변경 가능)
- **튜플 (`tuple`)**: 리스트와 비슷하지만 변경할 수 없는 자료형
- **딕셔너리 (`dict`)**: 키-값 쌍으로 데이터를 저장하는 자료형
- **집합 (`set`)**: 중복을 허용하지 않는 자료형

In [ ]:

# 정수형 (int)
num1 = 100
print("정수형:", num1, type(num1))

# 실수형 (float)
num2 = 3.14
print("실수형:", num2, type(num2))

# 문자열 (str)
text = "Python"
print("문자열:", text, type(text))

# 불리언 (bool)
flag = True
print("불리언:", flag, type(flag))

# 리스트 (list)
numbers = [1, 2, 3, 4, 5]
print("리스트:", numbers, type(numbers))

# 튜플 (tuple)
coordinates = (10, 20)
print("튜플:", coordinates, type(coordinates))

# 딕셔너리 (dict)
person = {"name": "Alice", "age": 25}
print("딕셔너리:", person, type(person))

# 집합 (set)
unique_numbers = {1, 2, 3, 3, 4}
print("집합:", unique_numbers, type(unique_numbers))

정수형: 100 <class 'int'>
실수형: 3.14 <class 'float'>
문자열: Python <class 'str'>
불리언: True <class 'bool'>
리스트: [1, 2, 3, 4, 5] <class 'list'>
튜플: (10, 20) <class 'tuple'>
딕셔너리: {'name': 'Alice', 'age': 25} <class 'dict'>
집합: {1, 2, 3, 4} <class 'set'>


## 5. 자료형별 연산

각 자료형에서 수행할 수 있는 연산을 살펴보겠습니다.

### 5.1 숫자 연산

In [ ]:

# 숫자 연산 예제
a = 10
b = 3

print("덧셈:", a + b)
print("뺄셈:", a - b)
print("곱셈:", a * b)
print("나눗셈:", a / b)
print("몫:", a // b)  # 정수 나눗셈
print("나머지:", a % b)
print("거듭제곱:", a ** b)  # 10의 3제곱

덧셈: 13
뺄셈: 7
곱셈: 30
나눗셈: 3.3333333333333335
몫: 3
나머지: 1
거듭제곱: 1000


### 5.2 리스트 연산

리스트는 여러 개의 요소를 저장할 수 있으며, 요소를 변경할 수도 있습니다.

In [ ]:

fruits = ["사과", "바나나", "포도"]
print("기본 리스트:", fruits)

# 리스트 요소 변경
fruits[1] = "오렌지"
print("변경된 리스트:", fruits)

# 리스트 더하기
new_fruits = fruits + ["복숭아", "수박"]
print("리스트 확장:", new_fruits)

기본 리스트: ['사과', '바나나', '포도']
변경된 리스트: ['사과', '오렌지', '포도']
리스트 확장: ['사과', '오렌지', '포도', '복숭아', '수박']


### 5.3 튜플의 주의점

튜플에서 원소가 1개일 경우, 쉼표(`,`)를 반드시 붙여야 합니다.

In [ ]:

single_tuple = (10,)  # 쉼표를 붙이지 않으면 정수형으로 인식됨
print("튜플:", single_tuple, type(single_tuple))

튜플: (10,) <class 'tuple'>


### 5.4 딕셔너리 연산

딕셔너리는 키를 통해 값을 저장하고 검색할 수 있습니다.

In [ ]:

# 딕셔너리 생성
student = {"name": "홍길동", "age": 20, "major": "컴퓨터공학"}

# 값 출력
print("이름:", student["name"])

# 새로운 키-값 추가
student["grade"] = 2
print("업데이트된 딕셔너리:", student)

# keys(), values() 메서드 사용
print("키 목록:", student.keys())
print("값 목록:", student.values())

이름: 홍길동
업데이트된 딕셔너리: {'name': '홍길동', 'age': 20, 'major': '컴퓨터공학', 'grade': 2}
키 목록: dict_keys(['name', 'age', 'major', 'grade'])
값 목록: dict_values(['홍길동', 20, '컴퓨터공학', 2])


### 5.5 집합 연산

집합은 중복을 허용하지 않으며, 집합 연산(합집합, 교집합, 차집합)을 수행할 수 있습니다.

In [ ]:

A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("합집합:", A | B)
print("교집합:", A & B)
print("차집합:", A - B)

합집합: {1, 2, 3, 4, 5, 6}
교집합: {3, 4}
차집합: {1, 2}

## 5. ✨ 스스로 해결해보는 실습 문제 ✨

아래 문제들을 직접 코드로 작성하여 실행해보세요!

### 문제 1: 변수 선언  
1. `x` 변수에 정수 `42`를 저장하고 출력하세요.  
2. `y` 변수에 실수 `3.14`를 저장하고 출력하세요.  
3. `z` 변수에 문자열 `"Python Programming"`을 저장하고 출력하세요.

In [ ]:

# 문제 1: 변수 선언
x = 42
y = 3.14
z = "Python Programming"

print(x)
print(y)
print(z)

42
3.14
Python Programming

### 문제 2: 자료형 확인  
1. `type()` 함수를 이용하여 각 변수 (`x`, `y`, `z`)의 자료형을 출력하세요.

In [ ]:

# 문제 2: 자료형 확인
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

### 문제 3: 리스트 활용  
1. `fruits` 리스트에 `"사과", "바나나", "포도"`를 저장하고 출력하세요.  
2. `fruits` 리스트의 첫 번째 요소를 출력하세요.  
3. `fruits` 리스트에 `"오렌지"`를 추가한 후, 리스트를 출력하세요.

In [ ]:

# 문제 3: 리스트 활용
fruits = ["사과", "바나나", "포도"]
print(fruits)  # 리스트 출력

print(fruits[0])  # 첫 번째 요소 출력

fruits.append("오렌지")  # 리스트에 요소 추가
print(fruits)

['사과', '바나나', '포도']
사과
['사과', '바나나', '포도', '오렌지']

### 문제 4: 딕셔너리 활용  
1. `student` 딕셔너리를 생성하여 `이름: "홍길동", 나이: 20, 학과: "컴퓨터공학"`을 저장하세요.  
2. `student` 딕셔너리에서 `"이름"`에 해당하는 값을 출력하세요.  
3. `student` 딕셔너리에 `"학년": 2` 키-값을 추가한 후 딕셔너리를 출력하세요.

In [ ]:

# 문제 4: 딕셔너리 활용
student = {"이름": "홍길동", "나이": 20, "학과": "컴퓨터공학"}
print(student)  # 딕셔너리 출력

print(student["이름"])  # "이름" 키의 값 출력

student["학년"] = 2  # 새로운 키-값 추가
print(student)

{'이름': '홍길동', '나이': 20, '학과': '컴퓨터공학'}
홍길동
{'이름': '홍길동', '나이': 20, '학과': '컴퓨터공학', '학년': 2}

### 문제 5: 집합 활용  
1. `{1, 2, 3, 4, 4, 5}`를 저장하는 `numbers_set` 변수를 만들고 출력하세요.  
2. `numbers_set`에 `6`을 추가한 후, 집합을 출력하세요.  (hint: add 메서드를 활용하세요)

In [ ]:

# 문제 5: 집합 활용
numbers_set = {1, 2, 3, 4, 4, 5}  # 중복값은 자동 제거됨
print(numbers_set)

numbers_set.add(6)  # 집합에 값 추가
print(numbers_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}